<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Media & Content
                <small>Artist page</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li><a href='#/media'>Media & Content</a></li>
                <li class="active">Artists</li>
            </ol>
        </div>

    </div>
</div>

<div class='section'>
    <div class='container'>
        <div class="row">
    
            <div class="panel panel-default"><!-- Featured Panel -->
                <div class='panel-heading'><h2>Artist Name <small> Featured</small></h2></div>
                <div class="panel-body">
                 
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5"> 
                        <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio round" src="http://placehold.it/500x500">
                        </a>
                    </div>

                    <div class="col-lg-5 col-md-9 col-sm-8 col-xs-12">  
                        <p><span class='lead'>Artist name is pretty cool, and they also deal with a lot of challenges.</span>
                        For instance, derp herp herp derp derp herp derp derp durp herp herp durp hurp flerp. </p>
                    </div>
                    
                    <div class="col-lg-5 col-md-9 col-sm-8 col-xs-12">  		
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social artist-link"><a href='#/DERP' data-placement="top" title="Artist">
                                <span class="glyphicon glyphicon-pencil"></span> - Artist Page</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- End of Featured Panel -->
        </div>
    </div>
</div>

<!-- Following HTML is for all the remainder of artists / Musicians -->

<div class='section section-colored'> <!-- Section of two non-featured artists -->
    <div class='container'>
        <div class="row"> 
            <div class="col-lg-6 col-md-6 col-sm-6"><!-- Standard Panel -->
                <h3 class='page-header'>Artist Name Here</h3>
                
                <div class='row'>  <!-- Standard Artist Information -->
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-4"> 
                        <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio round" src="http://placehold.it/500x500"/>
                        </a>
                    </div>
                     
                     
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-8">
                        <p><span class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam lobortis, dolor nec sodales pulvinar, massa 
                        neque tincidunt nisi, a sagittis diam elit id urna.</span>
                        Sed consectetur vehicula augue a cursus. Etiam ult
                        ricies velit et risus feugiat, quis ultrices odio pellentesque.
                        Integer id lacinia lorem. Aliquam tempus volutpat vestibulum.
                        Proin sem purus, aliquet dignissim nisi quis, tempus euismod ante.
                        Phasellus maximus, nisl a condimentum lacinia,
                        justo turpis condimentum velit, eu mollis velit augue et enim.
                        Sed vulputate, turpis a finibus tempor, ex est gravida tortor,
                        ac placerat nunc neque id eros. Donec pharetra, mi hendrerit
                        pretium convallis, mi ipsum mollis arcu, id
                        fermentum erat urna et augue. Ut placerat porta ex a volutpat. In accumsan
                        orci non pretium dignissim. Nulla facilisi..</p>
                        	
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social artist-link"><a href='#/DERP' data-placement="top" title="Artist">
                                <span class="glyphicon glyphicon-pencil"></span> - Artist Page</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- End of Row (Standard Artist Information) -->

            </div><!-- End of Panel -->
                
                
            <div class=" col-lg-6 col-md-6 col-sm-6"><!-- Standard Panel -->
                <h3 class='page-header'>Another Artist Name Here</h3>
    
                     
                <div class='row'> <!-- Standard Artist Information -->
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-4"> 
                        <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio round" src="http://placehold.it/500x500"/>
                        </a>
                    </div>
                     
                     
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-8">
                        <p><span class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam lobortis, dolor nec sodales pulvinar, massa 
                        neque tincidunt nisi, a sagittis diam elit id urna.</span>
                        Sed consectetur vehicula augue a cursus. Etiam ult
                        ricies velit et risus feugiat, quis ultrices odio pellentesque.
                        Integer id lacinia lorem. Aliquam tempus volutpat vestibulum.
                        Proin sem purus, aliquet dignissim nisi quis, tempus euismod ante.
                        Phasellus maximus, nisl a condimentum lacinia,
                        justo turpis condimentum velit, eu mollis velit augue et enim.
                        Sed vulputate, turpis a finibus tempor, ex est gravida tortor,
                        ac placerat nunc neque id eros. Donec pharetra, mi hendrerit
                        pretium convallis, mi ipsum mollis arcu, id
                        fermentum erat urna et augue. Ut placerat porta ex a volutpat. In accumsan
                        orci non pretium dignissim. Nulla facilisi..</p>
                        	
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social artist-link"><a href='#/DERP' data-placement="top" title="Artist">
                                <span class="glyphicon glyphicon-pencil"></span> - Artist Page</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- End of Row (Standard Artist Information) -->
            </div><!-- End of Panel -->
        </div>
    </div>
</div>

<div class='section'> <!-- Section of two non-featured artists -->
    <div class='container'>
        <div class="row"> 
            <div class="col-lg-6 col-md-6 col-sm-6"><!-- Standard Panel -->
                <h3 class='page-header'>Artist Name Here</h3>
                
                <div class='row'>  <!-- Standard Artist Information -->
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-4"> 
                        <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio round" src="http://placehold.it/500x500"/>
                        </a>
                    </div>
                     
                     
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-8">
                        <p><span class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam lobortis, dolor nec sodales pulvinar, massa 
                        neque tincidunt nisi, a sagittis diam elit id urna.</span>
                        Sed consectetur vehicula augue a cursus. Etiam ult
                        ricies velit et risus feugiat, quis ultrices odio pellentesque.
                        Integer id lacinia lorem. Aliquam tempus volutpat vestibulum.
                        Proin sem purus, aliquet dignissim nisi quis, tempus euismod ante.
                        Phasellus maximus, nisl a condimentum lacinia,
                        justo turpis condimentum velit, eu mollis velit augue et enim.
                        Sed vulputate, turpis a finibus tempor, ex est gravida tortor,
                        ac placerat nunc neque id eros. Donec pharetra, mi hendrerit
                        pretium convallis, mi ipsum mollis arcu, id
                        fermentum erat urna et augue. Ut placerat porta ex a volutpat. In accumsan
                        orci non pretium dignissim. Nulla facilisi..</p>
                        	
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social artist-link"><a href='#/DERP' data-placement="top" title="Artist">
                                <span class="glyphicon glyphicon-pencil"></span> - Artist Page</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- End of Row (Standard Artist Information) -->

            </div><!-- End of Panel -->
                
                
            <div class=" col-lg-6 col-md-6 col-sm-6"><!-- Standard Panel -->
                <h3 class='page-header'>Another Artist Name Here</h3>
    
                     
                <div class='row'> <!-- Standard Artist Information -->
                    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-4"> 
                        <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio round" src="http://placehold.it/500x500"/>
                        </a>
                    </div>
                     
                     
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-8">
                        <p><span class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam lobortis, dolor nec sodales pulvinar, massa 
                        neque tincidunt nisi, a sagittis diam elit id urna.</span>
                        Sed consectetur vehicula augue a cursus. Etiam ult
                        ricies velit et risus feugiat, quis ultrices odio pellentesque.
                        Integer id lacinia lorem. Aliquam tempus volutpat vestibulum.
                        Proin sem purus, aliquet dignissim nisi quis, tempus euismod ante.
                        Phasellus maximus, nisl a condimentum lacinia,
                        justo turpis condimentum velit, eu mollis velit augue et enim.
                        Sed vulputate, turpis a finibus tempor, ex est gravida tortor,
                        ac placerat nunc neque id eros. Donec pharetra, mi hendrerit
                        pretium convallis, mi ipsum mollis arcu, id
                        fermentum erat urna et augue. Ut placerat porta ex a volutpat. In accumsan
                        orci non pretium dignissim. Nulla facilisi..</p>
                        	
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social artist-link"><a href='#/DERP' data-placement="top" title="Artist">
                                <span class="glyphicon glyphicon-pencil"></span> - Artist Page</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- End of Row (Standard Artist Information) -->
            </div><!-- End of Panel -->
        </div>
    </div>
</div>