<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Media & Content
                <small>Image Gallery</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li><a href='#/media'>Media & Content</a></li>
                <li class="active">Gallery Page</li>
            </ol>
        </div>
    </div>
    
    <div class='col-lg-12'>
        <p><span class='lead'>All events from Disaster Dogs have a fair share of pictures taken throughout the event!</span> This is only a snippet of said content
        we receive from all our awesome team of photographers, and from our fans who wanted to share their own creativity with us!</p>
    </div>
    
    
    
    <div class='col-lg-12'>
       <h2 class='page-header'>October Event <small>Night of the Living Dead Dog</small></h2> 
   </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/425x600">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
    </div>
    
    
    <div class='col-lg-12'>
       <h2 class='page-header'>April Event <small>Get Rammed April Birthdays!</small></h2> 
   </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/425x600">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm- col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
            </a>
        </div>
    </div>
    
    <div class='col-lg-12'>
       <h2 class='page-header'>Poster Collection <small>Of all events!</small></h2> 
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/425x600">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/425x600">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/425x600">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"> 
            <a href="#">
                <img class="img-responsive img-home-portfolio" src="http://placehold.it/425x600">
            </a>
        </div>
    </div>
            
        
        <p><span class='lead'>Disclaimer: </span>Any content on here is posted with permissions of both those who are in the picture, and from the photographer. If any 
        content is deemed harmful, inappropriate, defamatory, or otherwise not validated with the person(s), or photographers' explicit permission, the content will be
        removed.</p>
    
    <!-- etc., more information about the company…. -->

</div>