<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">404
                <small>Page Not Found</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/home">Home</a>
                </li>
                <li class="active">404</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <p class="error-404">404</p>

            <p class="lead">Despite all our best efforts, it seems we couldn't locate the page you requested!</p>

            <p>The page has either been removed, or we directed something in error! Here are some helpful links to help you find what you're looking for:</p>
            <ul>
                <li><a href="#/home">Home</a>
                </li>
                <li><a href="#/about">About</a>
                </li>
                <li><a href="#/media">Media</a>
                </li>
                <li><a href="#/news">News</a>
                </li>
            </ul>
            <br>
            <h6><small>Or you typed in the wrong link. Don't worry, your secret is safe with me!</small></h6>
        </div>

    </div>

</div>