<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Events
                <small>Events Page</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Events</li>
            </ol>
        </div>

    </div>

 <div class="row">
        
        <div class='col-lg-12'>
            <h3 class='page-header'>Main Event Information <small> - October 24th</small></h3>
            <div class="jumbotron">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam lobortis, dolor nec sodales pulvinar, massa 
                neque tincidunt nisi, a sagittis diam elit id urna.<small>
                Sed consectetur vehicula augue a cursus. Etiam ult
                ricies velit et risus feugiat, quis ultrices odio pellentesque.
                Integer id lacinia lorem. Aliquam tempus volutpat vestibulum.
                Proin sem purus, aliquet dignissim nisi quis, tempus euismod ante.
                Phasellus maximus, nisl a condimentum lacinia,
                justo turpis condimentum velit, eu mollis velit augue et enim.
                Sed vulputate, turpis a finibus tempor, ex est gravida tortor,
                ac placerat nunc neque id eros. Donec pharetra, mi hendrerit
                pretium convallis, mi ipsum mollis arcu, id
                fermentum erat urna et augue. Ut placerat porta ex a volutpat. In accumsan
                orci non pretium dignissim. Nulla facilisi..</small></p>
            </div>
        </div>
    </div>
</div>