<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Media & Content
                <small>Media Page</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Media & Content</li>
            </ol>
        </div>

    </div>
</div>

<div class="section section-colored"><!-- Music General Media -->
    <div class='container'>
            
        <div class='row'>
            <div class="col-lg-12">
                <h2 class='page-header'>The Music of Now</h2>
                <a href='#/media/musicians'><button type="button" class="btn btn-info">
                    <span class='glyphicon glyphicon-headphones'></span>  - Music Link</button></a>
            </div>
        </div>
    </div>
</div>

<div class="section"><!-- Music General Media -->
    <div class='container'>
        <div class="row"><!-- Artist General Media -->

            <div class="col-lg-12">
                <h2 class='page-header'>The Art of Now</h2>
                <a href='#/media/artists'><button type="button" class="btn btn-info">
                    <span class='glyphicon glyphicon-pencil'></span>  - Artist Link</button></a>
            </div>
        </div>
    </div>
</div>

<div class="section section-colored"><!-- Music General Media -->
    <div class='container'>
        <div class="row"><!-- Gallery General Media -->

            <div class="col-lg-12">
                <h2 class='page-header'>The Images of the Here and Now</h2>
                <a href='#/media/gallery'><button type="button" class="btn btn-info">
                    <span class='glyphicon glyphicon-camera'></span>  - Gallery Link</button></a>
            </div>
        </div>
    </div>
</div>
<div class='section'>
    <div class='container'>
        <h1 class='page-header'>Social Media</h1>
        <a href='http://twitter.com/disasterdogs'><button type='button' class='btn btn-default'>Twitter</button></a>
    </div>
</div>